{{ define "main" }}

<h1>Welcome to Bobby's Blog</h1>

<p>This is the personal blog of Bobby, a musician, learner, Christ follower, and having recently discovered Emacs spends way too much time tweaking and learning lisp. Blog posts can be found in the "blog/" section while the less frequent and focused "pages/" section is the home for other prose.
</p>
<p>Thank you for finding this.</p>
<br/>

<h1>Latest blog posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/blog" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}
